    <div class="row mb-3 text-center">
      <div class="col-2 themed-grid-col"><span class="fs-4">#</span></div>
      <div class="col-2 themed-grid-col"><span class="fs-4">Имя</span></div>
      <div class="col-2 themed-grid-col"><span class="fs-4">Фамилия</span></div>
      <div class="col-2 themed-grid-col"><span class="fs-4">Дата рождения</span></div>
      <div class="col-2 themed-grid-col"></div>
      <div class="col-2 themed-grid-col"></div>
    </div>